@using CraftHub.Core.Contracts;
@using CraftHub.Core.Models.Course;
@model CourseDetailsModel;

@inject ICourseService courseService;

@{
    ViewBag.Title = "Course Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<!--Format Space-->
<br />
<br />
<br />
<br />

<hr />
<br />

<!-- Details Start -->
<div class="row g-4 mb-5  justify-content-center">
    <div class="col-lg-8 col-xl-9  justify-content-center">
        <div class="row g-4  justify-content-center">
            <div class="col-lg-6 text-center  justify-content-center">
                <div class="border rounded justify-content-center">
                    <a href="#">
                        <img src="https://i.pinimg.com/originals/32/9b/63/329b63886c58f6f4915b8642f52ec8b3.gif" class="img-fluid rounded " alt="Image"  >
                    </a>
                </div>
                <br />
                <h4 class="fw-bold mb-3">@Model.Title</h4>
                <p class="mb-3">Category:<b> @Model.Category</b></p>
                @if (Model.Duration == 1)
                {
                    <p class="mb-3">Duration:<b> @Model.Duration Month</b> </p>
                }
                else
                {
                    <p class="mb-3">Duration:<b> @Model.Duration Months</b></p>
                }

                <p class="mb-4">@Model.Details</p>
                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (await courseService.HasCreatorWithIdAsync(Model.Id, User.Id()) == true)
                    {
                        <a class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    }
                    else
                    {
                        <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">Join Course</a>
                    }
                }

                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">Organizer Info</h5>
                        <p class="card-text">Name:  @Model.Creator.FullName</p>
                        <p class="card-text">Email:  @Model.Creator.Email</p>
                        <p class="card-text">Phone Number: @Model.Creator.PhoneNumber</p>
                        <h5 class="card-title">Business Info</h5>
                        <p class="card-text">WebSite:  <a href="@Model.Creator.Website" class="card-text">@Model.Creator.BusinessName WebSite</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
</div>
<!-- Details End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">CraftHub</h1>
                        <p class="text-secondary mb-0">HandMade products</p>
                    </a>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Why People Like us!</h4>
                    <p class="mb-4">
                        CraftHub is specially created for people who want to share their experience in the world
                        of creating. This is kind of community which can be helpful for everyone. Enjoy it!
                    </p>
                    <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Shop Info</h4>
                    <a class="btn-link" href="">About Us</a>
                    <a class="btn-link" href="">Contact Us</a>
                    <a class="btn-link" href="">Privacy Policy</a>
                    <a class="btn-link" href="">Terms & Condition</a>
                    <a class="btn-link" href="">Return Policy</a>
                    <a class="btn-link" href="">FAQs & Help</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Account</h4>
                    <a class="btn-link" href="">My Account</a>
                    <a class="btn-link" href="">Shop details</a>
                    <a class="btn-link" href="">Shopping Cart</a>
                    <a class="btn-link" href="">Wishlist</a>
                    <a class="btn-link" href="">Order History</a>
                    <a class="btn-link" href="">International Orders</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact</h4>
                    <p>Address: 1429 Netus Rd, NY 48247</p>
                    <p>Email: Example@gmail.com</p>
                    <p>Phone: +0123 4567 8910</p>
                    <p>Payment Accepted</p>
                    <img src="img/payment.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light"><a href="https://github.com/Stanislav-Trendafilov/CraftHub"><i class="fas fa-copyright text-light me-2"></i> @(DateTime.Now.Year) - CraftHub </a>,  All right reserved.</span>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>