@model CourseServiceModel

@inject ICourseService courseService;


<div class="col-md-4">
    <div class="card mb-3">
        <div class="vesitable-img">
            <img src="https://i.pinimg.com/originals/32/9b/63/329b63886c58f6f4915b8642f52ec8b3.gif" class="img-fluid w-100 rounded-top" alt="">
        </div>
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Description: <b>@Model.Details</b></h6>
            @if (Model.Duration == 1)
            {
                <h6>Duration: @Model.Duration <b>Month</b> </h6>
            }
            else
            {
                <h6>Duration: @Model.Duration <b>Months</b> </h6>
            }
            <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.Id" class="btn border border-secondary rounded-pill px-3 text-primary">See More</a>   

        </div>
    </div>
</div>