@using CraftHub.Core.Contracts;
@model ProductServiceModel
@inject IProductService productService;
<div class="col-md-4">
    <div class="card mb-3">
        <div class="vesitable-img">
            <img src="@Model.ImageUrl" class="img-fluid w-100 rounded-top" alt="">
        </div>
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Description: <b>@Model.Description</b></h6>
            <h6>  Price: <b>@String.Format("{0:f2}", Model.Price) BGN</b> </h6>
              @if (!this.User.Identity.IsAuthenticated)
            {
                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn border border-secondary rounded-pill px-3 text-primary">Details</a>
                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
            }
            @if (this.User.Identity.IsAuthenticated)
            {
               
                if (await productService.HasCreatorWithIdAsync(Model.Id, User.Id()) == true)
			    {
                     <a href="#" class="btn border border-secondary rounded-pill px-3 tex t-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                       <p></p>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn border border-secondary rounded-pill px-3">Details</a>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning border border-secondary rounded-pill px-3 ">Edit</a>
                    <a asp-controller="House" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger border border-secondary rounded-pill px-3 ">Delete</a>
                }
                else
                {
                      <a href="#" class="btn border border-secondary rounded-pill px-3 tex t-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                      <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn border border-secondary rounded-pill px-3 text-primary">Details</a>
                }
                <p></p>
            }

        </div>
    </div>
</div>
